html {
  font-family: "national park";
  font-size: 16px;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.egg {
  width: 615px;
  height: 900px;
  background-color: rgb(224, 182, 161);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: hotpink 9px solid;
}
img {
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 210px;
 }
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
}
.buttons input[type="button"] {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 40%;
  font-weight: bold;
  border: none;
  align-items: center;
}

.status,
.alert {
  font-weight: bold;
}

.status {
  background-color: salmon;
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
  border: thin solid white;
}

.box {
  text-align: center;
}
